{% extends "base.html" %}

	{% block title %}Update Movie Page{% endblock %}
	{% block content %}
		<h4>To update movie, fill in the fields below.</h4>
		<h4>At least the title and one protagonist must be filled!</h4>
		<form action="#" method="post">
			<label for="title">Movie Title:</label><br>
			<input type="text" id="title" name="title"><br>

			<label for="year">Year released:</label><br>
			<input type="text" id="year" name="year"><br>

			<label for="descr">Description of the plot:</label><br>
			<input type="text" id="descr" name="descr"><br><br>

			<input type="submit" value="Submit and Add Protagonists.">
		</form> 
	{% endblock %}
