{% extends "base.html" %}

	{% block title %}Delete my account{% endblock %}
	{% block content %}
		{% if iAmAdmin is defined %}
			<p style="color:red;">
				The admin named Admin will be created again if all admins delete themselves!
			</p>
		{% endif %}
		<p>
		Deleting your account will delete all your comments and ratings in MovieFlix!
		Type "I AM SURE" below to delete your account.<br>
		<b>Are you sure?</b>
		</p>
		<form action="#" method="post">
			<label for="ans">Answer:</label><br>
			<input type="text" id="ans" name="ans"><br>
			<input type="submit" value="Submit">
		</form> 
	{% endblock %}
